.create-chart-controls{
    display: flex;
    flex-direction: column;


}
.create-chart-control{
    height: 10rem;
  border: 1px solid #313131;
    border-radius: 12px;
    width: 12px;
    background-color:  #a892ee;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.create-chart-fill{
    border-radius: 12px;

}